
.about1 p{
    color:#341C1C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;

}
.about{
    /* background: linear-gradient(180deg,#5ae4a8,#d1f4ce 50%); */
    background: linear-gradient(180deg,rgb(255, 108, 133),rgb(253, 251, 253) 60%);
    font-family: 'Abril Fatface', serif;
}
.font3{
    box-shadow: 0 4px 6px rgba(39, 31, 31, 0.1);
}